{% extends 'base.html.twig' %}

{% block title %}Mon Compte - La Boutique Française{% endblock %}

{% block content %}
    <h1>Mon compte :</h1>    
    <p>Bienvenue {{app.user.firstname}} dans votre compte.</p>
    <p>C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
    <hr>
    {% if is_granted('ROLE_ADMIN') %} <!-- Permet d'afficher le lien administrateur que pour un role admin-->
        <a href="/admin">Administration</a><br/>
    {% endif %}
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/secure.png')}}" alt="Modifier son mot de passe"><br/>
                <a href="{{ path('account_password') }}">Modifier son mot de passe</a> 
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/address.png')}}" alt="Gérer mes adresses"><br/>
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/shopping-cartd.png')}}" alt="Mes commandes"><br/>
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>
    <hr>

{% endblock %}
